<h3> Previously Analyzed Documents </h3>

<div class="alert" ng-show="success || error"
  ng-class="{'alert-danger': error, 'alert-success': success}">
  <button type="button" class="close" data-dismiss="alert"
    aria-hidden="true">&times;</button>
  {{error || success}}
</div>

<table ng-table="tableParams" class="table table-bordered">
  <tr ng-repeat="e in $data">
    <td data-title="'Excerpt'">
      <a href="#/documents/{{e.id}}">{{e.get('excerpt')}}</a>
    </td>
    <td data-title="'Filter Words'">{{e.get('words').join(', ')}}</td>
    <td data-title="'Time'">{{e.createdAt | timer}}</td>
    <td data-title="''">
      <button class="btn btn-danger" ng-click="remove(e)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </tr>
</table>
