<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
        <span class="glyphicon glyphicon-thumbnails"></span>
      </button>
      <a class="navbar-brand" href="#/">Arabic Words Analyzer</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
        <a href="#/upload">
          <i class="glyphicon glyphicon-cloud-upload"></i>
          Uploads
        </a>
        </li>
        <li>
        <a href="#/files">
          <i class="glyphicon glyphicon-inbox"></i>
          Documents
        </a>
        </li>
        <li><a href="#/segments">Segments</a></li>
        <li><a href="#/words">Words</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-show="!user">
        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer">Sign in <b class="caret"></b></a>
        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
          <li>
          <div class="row">
            <div class="col-md-12">
              <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                <div class="form-group">
                  <label class="sr-only" for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Email address" required>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          </li>
          <li class="divider"></li>
          <li>
          <input class="btn btn-primary btn-block" type="button"
          id="sign-in-facebook" value="Sign In with Facebook">
          </li>
        </ul>
        </li>
        <li class="dropdown" ng-show="user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{user.name}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/profile">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#/logout">Logout</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
