<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Arabic Words Analyzer</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/upload">Upload</a></li>
        <li><a href="#/files">Documents</a></li>
        <li><a href="#/segments">Segments</a></li>
        <li><a href="#/words">Words</a></li>
      </ul>
    </div>
  </div>
</div>
