<div class="wordslists">

  <h3> Forgot password </h3>

  <alert></alert>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
        <form role="form" class="">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email"
            ng-model="email"
            placeholder="Your email address.">
          </div>

          <button type="submit" class="btn btn-primary pull-right"
            ng-click="resetPassword()">
            <i class="glyphicon glyphicon-stats"></i>
            Reset Password
          </button>

          <a href="#/">
            <i class="glyphicon glyphicon-cancel"></i>
            Cancel
          </a>

        </form>
      </div>
    </div>
  </div>
