<div class="wordslists">

  <h3> Analyze </h3>

  <alert></alert>

  <ul class="nav nav-tabs">
    <li ng-class="{active: selected=='new'}"
    class="bstooltip" data-toggle="tooltip" data-placement="bottom"
    title="Start a new analysis"
    >
    <a class="clickable" ng-click="selected='new'"> New Analysis </a>
    </li>
    <li ng-class="{active: selected=='list'}"
    class="bstooltip" data-toggle="tooltip" data-placement="bottom"
    title="Previously analyzed documents"
    >
    <a class="clickable" ng-click="selected='list'"> Analyses Archive </a></li>

    
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in panel panel-default"
      ng-class="{active: selected=='new'}"
      style="border-top: 0">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
            <form role="form" class="">

              <div class="form-group">
                <label for="documents">1) Select a Document</label>
                <select ng-model="entity.documents" class="form-control"
                  name="documents" id="documents"
                  ng-options="doc.get('name') for doc in documents">
                </select>
              </div>

              <div class="form-group">
                <label for="wordslist">2) Select a Dictionary</label>
                <select ng-model="entity.wordslist" class="form-control"
                  name="wordslist" id="wordslist"
                  ng-options="doc.get('name') for doc in wordslists">
                </select>
              </div>

              <div class="form-group">
                <label for="name">3) Name Your Analysis</label>
                <input type="text" class="form-control" id="name"
                ng-model="entity.name"
                placeholder="Enter a unique name for this analysis.">
              </div>

              <button type="submit" class="btn btn-primary pull-right"
                ng-click="save()">
                <i class="glyphicon glyphicon-stats"></i>
                Analyze
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade in panel panel-default" 
      ng-class="{active: selected=='list'}"
      style="border-top: 0">
      <div class="panel-body">

        <table ng-table="tableParams" class="table">
          <tr ng-repeat="e in $data">
            <td data-title="'Name'">
              <a href="#/process/{{e.id}}">{{e.get('name')}}</a>
            </td>
            <td data-title="'Words List'">{{e.get('wordslist').get('name')}}</td>
            <td data-title="'Document'">{{e.get('documents').get('name')}}</td>
            <td data-title="'Time'">{{e.createdAt | timer}}</td>
            <td data-title="''">
              <button class="btn btn-danger" ng-click="remove(e)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
          </tr>
        </table>

      </div>
    </div>

    

  </div>
</div>
