<div class="document">
  <h3> {{entity.get('excerpt')}} </h3>

  <alert></alert>

  <ul class="nav nav-tabs">
    <li ng-class="{active: selected=='document'}">
    <a class="clickable" ng-click="selected='document'">Document</a>
    </li>
    <li ng-class="{active: selected=='visual'}">
    <a class="clickable" ng-click="selected='visual'">Visualization</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade in panel panel-default"
      ng-class="{active: selected=='document'}"
      style="border-top: 0">

      <div class="panel-body">

        <div class="row">
          <div class="title col-lg-4 col-md-4 col-sm-6 col-xs-12">
            Created At
          </div>
          <div class="value col-lg-8 col-md-8 col-sm-6 col-xs-12">
            {{entity.createdAt | timer}}
          </div>
        </div>

        <div class="row">
          <div class="title col-lg-4 col-md-4 col-sm-6 col-xs-12">
            Document
          </div>
          <div class="value col-lg-8 col-md-8 col-sm-6 col-xs-12">
            {{entity.get('documents').get('name')}}
          </div>
        </div>

        <div class="row">
          <div class="title col-lg-4 col-md-4 col-sm-6 col-xs-12">
            Words List
          </div>
          <div class="value col-lg-8 col-md-8 col-sm-6 col-xs-12">
            {{entity.get('wordslist').get('name')}}
          </div>
        </div>

        <div class="row">
          <div class="title col-lg-4 col-md-4 col-sm-6 col-xs-12">
            Result
          </div>
          <div class="value col-lg-8 col-md-8 col-sm-6 col-xs-12"
            ng-init="results = entity.get('results')">

            <div class="row" ng-repeat="entry in entity.get('result')">
              <div class="title col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {{entry[0]}}
              </div>
              <div class="value col-lg-8 col-md-8 col-sm-6 col-xs-12">
                {{entry[1]}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-2 col-xs-offset-10">
            <button class="btn btn-danger" ng-click="remove(entity)">
              <i class="glyphicon glyphicon-remove"></i>
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade in panel panel-default" 
      ng-class="{active: selected=='visual'}"
      style="border-top: 0">
      <div class="panel-body">
        <div class="row">
          <div id="chart"></div>
        </div>
      </div>
    </div>

  </div>
</div>
