<div class="document">
  <h3> {{entity.get('excerpt')}} </h3>


  <div class="alert" ng-show="success || error"
    ng-class="{'alert-danger': error, 'alert-success': success}">
    <button type="button" class="close" data-dismiss="alert"
      aria-hidden="true">&times;</button>
    {{error || success}}
  </div>

  <ul class="nav nav-tabs">
    <li><a href="#/documents/{{id}}">Document</a></li>
    <li class="active"><a>Visualization</a></li>
  </ul>

  <div class="tab-content">
  </div>
</div>
