<div class="document">
  <h3> Upload Documents </h3>

  <div class="alert" ng-show="success || errors.length"
    ng-class="{'alert-danger': errors.length, 'alert-success': success}">
    <button type="button" class="close" data-dismiss="alert"
      aria-hidden="true">&times;</button>
    <span ng-if="success">
      {{success}}
    </span>
    <div ng-repeat="error in errors">
      {{error}}
    </div>
  </div>

  <ol id="filelist" class="">
    <li class="panel panel-default" ng-repeat="file in filesAdded">
    <div class="panel-heading">
      {{file.name}}
    </div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
          aria-valuenow="{{file.percent}}" aria-valuemin="0" aria-valuemax="100"
          style="width: {{file.percent}}%">
          <span class="sr-only">{{file.percent}}% Complete (success)</span>
        </div>
      </div>
    </div>
  </ol>

  <div id="container">
    <button type="button" id="browse" class="btn btn-default">
      <i class="glyphicon glyphicon-eye-open"></i>
      Browse
    </button>
    <button type="button" class="btn btn-default" ng-click="upload()">
      <i class="glyphicon glyphicon-upload"></i>
      Upload
    </button>
  </div>
</div>
