<div class="navbar navbar-default navbar-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target=".navbar-collapse">
      <span class="glyphicon glyphicon-th"></span>
    </button>
    <a class="navbar-brand" href="#/">Arabic Words Analyzer</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav" ng-show="user">
      <!--<li><a href="#/words">Words</a></li>-->

      <li>
      <a href="#/processes">
        <i class="glyphicon glyphicon-cog"></i> Processes </a>
      </li>
      <li>
      <a href="#/upload/uploads">
        <i class="glyphicon glyphicon-cloud-upload"></i> Uploads</a>
      </li>

      <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        Manage Uploads <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#/upload/documents">
          <i class="glyphicon glyphicon-inbox"></i> Documents</a></li>
        <li><a href="#/upload/words">
          <i class="glyphicon glyphicon-bold"></i> Words Lists</a></li>
      </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <signin ng-show="!user"></signin>
      <signup ng-show="!user"></signup>
      <li class="dropdown pull-right" ng-show="user">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{user.get('name') || user.get('email')}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#/profile">Profile</a></li>
        <li class="divider"></li>
        <li><a ng-click="signout()" style="cursor:pointer">Logout</a></li>
      </ul>
      </li>
    </ul>

  </div>
</div>
