<div class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target=".navbar-collapse">
      <span class="glyphicon glyphicon-th"></span>
    </button>
    <a class="navbar-brand" href="#/">Arabic Words Analyzer</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav" ng-show="user">
      <!--<li><a href="#/words">Words</a></li>-->
      <li
      class="bstooltip" data-toggle="tooltip" data-placement="bottom"
      title="Upload a document to be analyzed"
      >
      <a href="#/upload/uploads">
        <i class="glyphicon glyphicon-cloud-upload"></i> Upload</a>
      </li>

      <li class="dropdown" ng-if="isAdmin">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        Manage Uploads <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li
        class="bstooltip" data-toggle="tooltip" data-placement="right"
        title="Documents to be analyzed"
        >
        <a href="#/upload/documents">
          <i class="glyphicon glyphicon-inbox"></i> Documents</a></li>
        <li
        class="bstooltip" data-toggle="tooltip" data-placement="right"
        title="Words lists to analyze documents against"
        >
        <a href="#/upload/words">
          <i class="glyphicon glyphicon-bold"></i> Words Lists</a></li>
      </ul>
      </li>

      <li
      class="bstooltip" data-toggle="tooltip" data-placement="bottom"
      title="Start a new analysis or check archived ones"
      >
      <a href="#/processes">
        <i class="glyphicon glyphicon-cog"></i> Analyze </a>
      </li>

      <li
      class="bstooltip" data-toggle="tooltip" data-placement="bottom"
      title="Manage system users and their privileges"
      >
      <a href="#/admin" ng-if="isAdmin">
        <i class="glyphicon glyphicon-user"></i> Admin </a>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
      <signin ng-show="!user"></signin>
      <signup ng-show="!user"></signup>
      <li ng-show="user">
      <a style="cursor:pointer" href="javascript:;">
        <b class="glyphicon glyphicon-user"></b>
        {{user.get('name') || user.get('email')}}
      </a>
      </li>
      <li ng-show="user">
      <a style="cursor:pointer" href="javascript:;" ng-click="signout()">
        <b class="glyphicon glyphicon-off"></b>
        Sign out
      </a>
      </li>
    </ul>

  </div>
</div>
