<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer">Sign in</a>
<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">

  <li>
  <div class="row">
    <div class="col-md-12">
      <form name="form" class="form" role="form" ng-submit="signin(form)" id="login-nav"
        novalidate>

        <div class="form-group">
          <label class="sr-only" for="email">Email address</label>
          <input name="email" type="email" class="form-control" id="email" ng-model="model.email"
          placeholder="Email address" required>
          <span ng-show="form.email.$error.required && form.email.$dirty">
            Email is required
          </span>
        </div>

        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" ng-model="model.password"
           name="password"
          id="password" placeholder="Password" required>
          <span ng-show="form.password.$error.required &&
            form.password.$dirty">Password is required</span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block"> Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
  </li>

  <li class="divider"></li>

  <li>

  <input class="btn btn-primary btn-block" type="button"
  ng-click="signinFacebook()" id="sign-in-facebook" value="Sign In with Facebook">
  </li>

</ul>
</li>
