html
  body
    | &apos;use strict&apos;
    | controller &equals; &lpar;root&comma; scope&rpar;-&gt;
    | scope&period;signup &equals; &lpar;email&comma; password&rpar;-&gt;
    | user &equals; new Parse&period;User&lpar;&rpar;
    | user&period;set&lpar;&quot;username&quot;&comma; email&rpar;
    | user&period;set&lpar;&quot;password&quot;&comma; password&rpar;
    | user&period;set&lpar;&quot;email&quot;&comma; email&rpar;
    | debugger&semi;
    | user&period;signUp &lcub;ACL&colon; new Parse&period;ACL&lpar;&rpar;&rcub;&comma;
    | success&colon; &lpar;user&rpar; -&gt;
    | root&period;user &equals; user
    | root&period;go &apos;&sol;&apos;
    | &comma;
    | error&colon; &lpar;user&comma; error&rpar; -&gt;
    | html&lpar;&quot;Invalid username or password&period; Please try again&period;&quot;&rpar;&period;show&lpar;&rpar;
    | scope&period;signin &equals; &lpar;email&comma; password&rpar;-&gt;
    | Parse&period;User&period;logIn email&comma; password&comma;
    | success&colon; &lpar;user&rpar; -&gt;
    | root&period;user &equals; user
    | root&period;go &apos;&sol;&apos;
    | &comma;
    | error&colon; &lpar;user&comma; error&rpar; -&gt;
    | html&lpar;&quot;Invalid username or password&period; Please try again&period;&quot;&rpar;&period;show&lpar;&rpar;
    | scope&period;signout&equals; -&gt;
    | Parse&period;User&period;logOut&lpar;&rpar;
    | root&period;user &equals; null
    | root&period;go &apos;&sol;&apos;
    | angular&period;module&lpar;&apos;wordsApp&apos;&rpar;
    | &period;directive &apos;navmenu&apos;&comma; -&gt;
    | templateUrl&colon; &apos;views&sol;nav&period;html&apos;
    | restrict&colon; &apos;E&apos;
    | controller&colon; &lsqb;&apos;&dollar;rootScope&apos;&comma; &apos;&dollar;scope&apos;&comma; controller&rsqb;
