html
  body
    | &apos;use strict&apos;
    | controller &equals; &lpar;scope&rpar;-&gt;
    | angular&period;module&lpar;&apos;wordsApp&apos;&rpar;
    | &period;directive &apos;navmenu&apos;&comma; -&gt;
    | templateUrl&colon; &apos;views&sol;nav&period;html&apos;
    | restrict&colon; &apos;E&apos;
    | controller&colon; &lsqb;&apos;&dollar;scope&apos;&comma; controller&rsqb;
