html
  body
    | unless String&colon;&colon;trim
    | String&colon;&colon;trim &equals; -&gt;
    | this&period;replace &sol;&Hat;&bsol;s&plus;&VerticalLine;&bsol;s&plus;&dollar;&sol;gm&comma; &apos;&apos;
    | controller &equals; &lpar;scope&comma; Service&comma; http&rpar; -&gt;
    | &num; Words to filter analysis against
    | scope&period;model &equals;
    | words&colon; &lsqb;&rsqb;
    | text&colon; &apos;&apos;
    | scope&period;result &equals; null
    | &num; The word to be added to the filter list
    | scope&period;word &equals; &apos;&apos;
    | scope&period;addWord &equals; -&gt;
    | if scope&period;word and scope&period;word&period;trim&lpar;&rpar;
    | scope&period;model&period;words&period;push scope&period;word
    | scope&period;model&period;words &equals; &UnderBar;&period;uniq scope&period;model&period;words
    | scope&period;word &equals; &apos;&apos;
    | scope&period;removeWord &equals; &lpar;word&rpar;-&gt;
    | scope&period;model&period;words &equals; &UnderBar;&period;filter scope&period;model&period;words&comma; &lpar;w&rpar;-&gt; w isnt word
    | success &equals; &lpar;res&rpar;-&gt;
    | debugger
    | scope&period;analyze &equals; &lpar;form&rpar;-&gt;
    | h &equals; http
    | method&colon; &apos;POST&apos;
    | url&colon; &apos;&sol;analyze&apos;
    | data&colon; scope&period;model
    | h&period;success &lpar;d&rpar;-&gt;
    | scope&period;result &equals; d&period;result
    | Service&period;save&lpar;d&comma; success&rpar;
    | h&period;error &lpar;e&rpar;-&gt;
    | alert &quot;&num;&lcub;e&rcub;&quot;
    | angular&period;module&lpar;&apos;wordsApp&apos;&rpar;
    | &period;controller &apos;WordsCtrl&apos;&comma;
    | &lsqb;&apos;&dollar;scope&apos;&comma; &apos;Texts&apos;&comma; &apos;&dollar;http&apos;&comma; controller&rsqb;
